@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@100;200;300;400;500;700&display=swap');

.text-shadow{
   text-shadow: 2px 2px #D65341; 
}

*{
   padding:0;
   margin:0;
   box-sizing: border-box;
}

html, body {
   overscroll-behavior: none;
 }
 
 @keyframes bounce {
   0%, 100% {
     transform: translateY(0);
   }
   50% {
     transform: translateY(-30px);
   }
 }
 
 .bounce-animation {
   animation: bounce 2s infinite;
 }

 @keyframes slideInLeft {
   0% {
     transform: translateX(-100%);
     opacity: 0;
   }
   100% {
     transform: translateX(0);
     opacity: 1;
   }
 }
 
 .slide-in-left {
   animation: slideInLeft 1s ease-out forwards;
 }
 
 @keyframes slideInFromRight {
   0% {
     transform: translateX(100%);
   }
 
   100% {
     transform: translateX(0);
   }
 }
 
 @keyframes slideInFromTop {
   0% {
     transform: translateY(-100%);
   }
 
   100% {
     transform: translateX(0);
   }
 }
 
 @keyframes slideInFromBottom {
   0% {
     transform: translateY(100%);
   }
 
   100% {
     transform: translateX(0);
   }
 }
 